/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.btn-googleplus {
  background: #E93F2E;
  color: #fff;

}

.btn-googleplus:link,
.btn-googleplus:visited {
  color: #fff;
}

.btn-googleplus:active,
.btn-googleplus:hover {
  background: #b72213;
  color: #fff;
}

.pointer{
  cursor: pointer;
}

.overflow-y-scroll {
  overflow: scroll;
}

.h-75{
  height: 75vh !important;
}

.h-80{
  height: 80vh !important;
}